<h2>List of Users</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Estado Civil</th>
      <th>CEP</th>
      <th>Endereço</th>
      <th>Número</th>
      <th>Complemento</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Data de Nascimento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.maritalStatus }}</td>
      <td>{{ user.cep }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.number }}</td>
      <td>{{ user.complement }}</td>
      <td>{{ user.neighborhood }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.uf }}</td>
      <td>{{ user.dateOfBirth }}</td>
      <td>
        <button mat-button (click)="openEditUserModal(user)">Editar</button>
        <button mat-button (click)="deleteUser()">Apagar</button>
      </td>
    </tr>
  </tbody>
</table>
