<h1>Edit User</h1>
<form>
  <label>Nome:</label>
  <input type="text" [(ngModel)]="user.name" name="name" /><br />
  <label>Sexo:</label>
  <input type="text" [(ngModel)]="user.gender" name="gender" /><br />
  <label>Estado Civil:</label>
  <input
    type="text"
    [(ngModel)]="user.maritalStatus"
    name="maritalStatus"
  /><br />
  <label>Cep:</label>
  <input type="text" [(ngModel)]="user.cep" name="cep" /><br />
  <label>Edenreço:</label>
  <input type="text" [(ngModel)]="user.address" name="address" /><br />
  <label>Número:</label>
  <input type="text" [(ngModel)]="user.number" name="number" /><br />
  <label>Complemento:</label>
  <input type="text" [(ngModel)]="user.complement" name="complement" /><br />
  <label>Bairro:</label>
  <input
    type="text"
    [(ngModel)]="user.neighborhood"
    name="neighborhood"
  /><br />
  <label>Cidade:</label>
  <input type="text" [(ngModel)]="user.city" name="city" /><br />
  <label>UF:</label>
  <input type="text" [(ngModel)]="user.uf" name="uf" /><br />
  <label>Data de Nascimento:</label>
  <input type="date" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" /><br />
  <button mat-button (click)="saveChanges()">Salvar</button>
</form>
